.container {
    display: inline-flex;
    flex-direction: row;
    align-items: left;
    height: 200px;
    width: 1500px;
    
}

.panel {
    font-family: sans-serif;
    border: 1px solid #ccc;
    border-radius: 3px;

}

.panel-main ul {
    border: 1px solid black;
    list-style-type: none;
    text-align: left;
    
}

.panel-main ul li {
    border-bottom: 1px solid black;
    text-align: left;
}

.panel-header1 {
background-color: rgba(215, 44, 44, 0.5);
    color: rgb(215, 44, 44);
    padding: 10px;
}

.panel-header2 {
background-color: rgba(255, 255, 0, 0.3);
    color:#000;
    padding: 10px;
}

.panel-header3 {
background-color: rgba(0, 255, 0, 0.3);
    color: green;
    padding: 10px;
}

.panel2 {
    font-family: sans-serif;
    border: 1px solid #ccc;
    border-radius: 3px;
    display: block;
}
.panel-header4 {
background-color: rgba(255, 255, 255, 0.8);
    color: gray;
    padding: 10px;
    display: block;
}

.panel-main {
    background: #efefef;
    color:#000;
    padding: 10px;
}

@media screen and (min-width: 300px) {

/*.panel:first-child {
    align-self: flex-start;
}*/
